$primary-bg-color:  #7ed6df;
$secondary-bg-color :#000;
$three-bg-color : white;
$four-bg-color: #FAFAFA;
$five-bg-color: #ff7675;
$main-txt-color: #000;
$secondary-txt-color: white;
$three-txt-color: #7ed6df;
$four-txt-color: rgba(0,0,0,0.5);
$main-border-color: #FAFAFA;
$main-font-family: 'Poppins', sans-serif;
$second-font-family: 'Merienda', cursive;