@import './global-variables';
@import './reset';
@import './mixin';
@import './show/other';
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

@import './show/navbar';
@import './show/menu';

main {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 150px;
    
    @media screen and (max-width: 768px) {
        margin-top: 50px;
    }
}

@import './show/banner';
@import './show/intro';
@import './show/product';
@import './show/review';
@import './show/shop';
@import './show/location';

footer {
    position: relative;
    width: 100%;
    margin-top: 50px;
}
@import './show/support';
@import './show/last';

@import './hidden/log';